<!-- HERO SECTION  -->
	<div class="site-hero">
		<ul class="slides">
			<li>
				<p class="title-travel-blog-directory">The Travel Blog Directory</p>
				<div class="big-title uppercase montserrat-text">The Best Travel Blogs</div>
				<div><span class="small-title uppercase montserrat-text"><a class="link" href="https://pie2re.typeform.com/to/y4fjvj" data-mode="1">SUBMIT YOUR BLOG</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script></span></div>
				
			</li>
			<!-- <li>
				<div><span class="small-title uppercase montserrat-text">take part</span></div>
				<div class="big-title uppercase montserrat-text">FILL THE FORM</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.  </p>
			</li> -->
		</ul>

	</div>

	<hr class="hidden-sm hidden-xs" style="top: -380px; position: relative; width: 80%; left: 144px;">


	<!-- WHY CHOOSE US -->
	<section class="services services-custom">
		<div class="container">
			<div class="row">
				<div class="section-title col-md-6 hidden-sm hidden-xs">
					<span>THE TRAVEL DIRECTORY</span>
					
					<p style="color:#ff5f00;"> * Estimated Visits</p>
					
				</div>

					<div class="section-title section-title-alt visible-sm visible-xs">
					<span>THE TRAVEL DIRECTORY</span>
					
					<p style="color:#ff5f00;"> * Estimated Visits</p>
					
				</div>

			</div>

