<!-- HERO SECTION  -->
	<div class="site-hero">
		<ul class="slides">
			<li>
				<p class="title-travel-blog-directory">The Travel Blog Directory</p>
				<div class="big-title uppercase montserrat-text">The Best Travel Blogs</div>
				<div><span class="small-title uppercase montserrat-text"><a class="link" href="https://pie2re.typeform.com/to/y4fjvj" data-mode="1">SUBMIT YOUR BLOG</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script></span></div>
				
			</li>
			<!-- <li>
				<div><span class="small-title uppercase montserrat-text">take part</span></div>
				<div class="big-title uppercase montserrat-text">FILL THE FORM</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.  </p>
			</li> -->
		</ul>

	</div>

	<hr class="hidden-sm hidden-xs" style="top: -380px; position: relative; width: 80%; left: 144px;">

	<!-- HISTORY OF AGENCY -->
	<div class="container">
		<div class="agency">
			<div class="col-md-5 col-sm-12">
				<div class="row">
				<!-- 	<img src="images/agency.jpg" alt="image"> -->
        <%= image_tag("mini-info.jpg", alt: "mini-info") %>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-6 col-sm-12">
				<div class="row">
					<div class="section-title">
						<span>2016 TRAVEL BLOG SURVEY</span>
					</div>
					<p class="text-survey" style="text-align: justify;">
						Travel Often launched its 2016 Travel Blog surveys that aims at unveiling the latest trends in travel blogging from content, audience, metrics to monetization technics. 
						Where do bloggers get their traffic from? How do they manage their leads? What tool do they use to engage with their subscribers? Get insights on internet's largest blog ecosytem by getting through the <span style="font-weight: 700;">2016 Travel Blog Survey </span>
					</p>
					<a class="link btn green" style=" margin-top:30px" href="https://pie2re.typeform.com/to/L7dBQP" data-mode="1">PRE-ORDER 295$</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
					<a class="link btn orange" style=" margin-top:30px" href="https://goo.gl/forms/ZTs2JmP2XDor4GXp2" data-mode="1">GET FOR FREE</a>
				</div>
			</div>
		</div>
	</div>


	<!-- WHY CHOOSE US -->
	<section class="services">
		<div class="container">
			<div class="row">
				<div class="section-title col-md-6 hidden-sm hidden-xs">
					<span>THE TRAVEL DIRECTORY</span>
					
					<p style="color:#ff5f00;"> * Estimated Visits</p>
					
				</div>

					<div class="section-title section-title-alt visible-sm visible-xs">
					<span>THE TRAVEL DIRECTORY</span>
					
					<p style="color:#ff5f00;"> * Estimated Visits</p>
					
				</div>

			</div>

