<!-- FOOTER -->
	<footer class="main-footer wow fadeInUp">
		<div class="container">
			<div class="col-md-12 col-sm-12" style="text-align:right">
				<div class="row">
					<div class="uppercase gray-text">
						created by SEEUSOON &copy;2016. all rights reserved.
					</div>
					<ul class="social-icons" style="margin-top:30px;float:right">
						<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>